* {
	box-sizing: border-box;	
}

.gamescreen {
	background-color: #2288cc;
	margin: 0 auto;
	width: 1000px;
	height: 800px;
	position: relative;
}

.bee {
	background-color: #ffdd0e;	
	border-radius: 90px;
	position: absolute;
	width: 8px;
	height: 8px;
}

.center-object {
	transform: translate(-50%, -50%);	
}