* {
	box-sizing: border-box;	
}

.gamescreen {
	background-color: #2288cc;
	margin: 0 auto;
	width: 1000px;
	height: 800px;
	position: relative;
	overflow: hidden;
}

.bee {
	background-color: #ffdd0e;	
	border-radius: 90px;
	position: absolute;
	width: 8px;
	height: 8px;
}

.center-object {
	transform: translate(-50%, -50%);	
}

.uipanel {
	background-color: #aeb274;
	position: absolute;
	width: 400px;
	height: 100px;
	bottom: 0;
}

.button-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 26px 28px;
}

.uibutton {
	background-color: #d5d599;
	border: 1px solid #606010;
	border-radius: 10px;
	width: 48px;
	height: 48px;
	padding: 0;
    transition-duration: 0.1s;
}

.uibutton:hover {
	background-color: #f3f3d2;
}

.uibutton:active {
	box-shadow: inset 0px 0px 5px #666666;
	background-color: #d5d599;
}